*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    background:#f5f5f5;

    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:40px 20px;
}

/* =========================
    200만원 이상 가방 계산
========================= */

.luxury-calculator{
    width:100%;
    max-width:1200px;

    background:#f5f5f5;

    padding:30px;
    border-radius:20px;

    margin-bottom:40px;
}

.luxury-calculator h2{
    text-align:center;
    margin-bottom:25px;
    font-weight:900;
    font-size:24px;
}

.luxury-header,
.luxury-row{
    display:grid;

    grid-template-columns:
    1fr
    1fr
    1.3fr
    1.5fr
    1.5fr;

    gap:10px;
    align-items:center;
}
.luxury-base{
    background:#fff;
    color:#000;

    font-weight:700;

    padding:14px;
    border-radius:10px;

    min-height:54px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:20px;

    border:2px solid #ddd;
}
.luxury-header{
    font-weight:bold;
    text-align:center;

    margin-bottom:15px;

    font-size:20px;
}

.luxury-row input{
    width:100%;

    padding:14px;

    border:none;
    border-radius:10px;

    font-size:18px;
    text-align:center;
}

.luxury-eu,
.luxury-non-eu{
    background:#ffe600;
    color:#000;

    font-weight:700;

    padding:14px;
    border-radius:10px;

    min-height:54px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:24px;
}

/* =========================
    일반 계산기
========================= */

.calculator{
    width:100%;
    max-width:1200px;
}

.row{
    display:grid;

    grid-template-columns:
    1fr
    1fr
    1fr
    1.5fr
    1.5fr;

    gap:10px;
    align-items:center;

    margin-bottom:10px;
}

.header{
    font-weight:bold;
    font-size:20px;

    margin-bottom:15px;
}

.header div{
    text-align:center;
}

.row > div{
    text-align:center;
}

input{
    width:100%;

    padding:12px;

    border:1px solid #ddd;
    border-radius:8px;

    font-size:16px;
    text-align:center;
}

.eu,
.non-eu{
    background:#ffe600;
    color:#000;

    font-weight:700;

    padding:12px;
    border-radius:8px;

    min-height:46px;

    display:flex;
    align-items:center;
    justify-content:center;
}

/* =========================
    모바일
========================= */

@media (max-width:768px){

    .luxury-header,
    .header{
        display:none;
    }

    .luxury-row,
    .row{
        grid-template-columns:1fr;
    }

    .luxury-row,
    .row{
        background:#fff;

        padding:15px;
        border-radius:12px;

        margin-bottom:15px;
    }
}